@use 'base/variables' as v;
@use 'base/mixins' as m;

.no-margin {
	margin: 0;
}
.no-padding {
	padding: 0;
}
.centrar-texto {
	text-align: center;
}
.mt-2{
    margin-top: 2rem;
}

.boton {
	&__principal {
		@include m.boton(v.$primario, v.$blanco);
	}
	&__secundario {
		@include m.boton(v.$secundario, v.$blanco);
	}
    &__principal,
	&__secundario {
		display: block;
		text-transform: uppercase;
    	margin: 2rem auto;
		@include m.tablet{
			display: inline-block;
			margin: 2rem;
        	width: auto;
		}
	}
}
// Corregir la diferencia de tamaño entre un input y un a
a {
	&.boton__principal,
	&.boton__secundario{
		padding: .735rem 4rem;
	}
}

.center__block {
	margin: 0 auto;
}