@use 'base/variables' as v;
@use 'base/mixins' as m;


.formulario {
	background-color: v.$blanco;
	margin: 0 auto;
	width: 95%;
	padding: 5rem;

    .campo {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        gap: 1rem;
    }
    .campo__label {
        text-align: left;
    }
    
    .campo__field {
        flex: 1;
        border: 1px solid v.$gris;
    }
    
    .campo__field--textarea {
        min-height: 10rem;
    }
    
    @media (min-width: 948px){
        .campo {
            margin-bottom: 2rem;
            flex-direction: row;
            gap: 2rem;
        }
    
        .campo__label {
            flex: 0 0 15rem;
            text-align: right;
        }
    }
    .songs {
        margin-left: 5rem;
        margin-bottom: 2rem;
        background-color: v.$gris;
        padding: 2rem 1rem 2rem 0;
    }
    
    .songs .campo:last-of-type {
        margin-bottom: 0;
    }
}

.main__boton {
    @include m.boton(v.$primario, v.$blanco);
    text-transform: uppercase;
    display: block;
    margin: 2rem auto;
    @include m.tablet{
        display: inline-block;
        margin: 2rem;
        width: auto;
    }
}